
.input{
    box-shadow: 2px 2px 3px #413f3f inset;
    background: #70b231;
    background-color: #d6cdcd;
    border-radius: 5%;
    height: 30px;
    width: 250px;
    font-size: 18px;
    
}
.boton{
    
    margin-left: 15px;
    margin-bottom: 5px;
    border-radius: 5%;
    height: 30px;
    background-color: #d6cdcd;
    font-size: 15px;
    box-shadow: 0px 2px 6px #9a9595 inset;
    transition: all 300ms;
}
#color{
    font-size: 20px;
    margin-left: 20px;
}
/*Modificamos la etiquetas de precion con directivas de angular */
.altoPrecio{
    color: #666666;
    font-size: 22px;
}
.fondoamarillo{
    background-color: rgb(243, 243, 41);
}
.subrallado{
    text-decoration: underline 2px blue;
}
/*}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus{
    border: 1px solid #70b231;
    color: black;
}/*me falla este codigo se sobre pone borde negro¿*/

/*modificamos el boton de enter*/
/* input[type="button"],
input[type="submit"],
input[type="reset"],
button{
    display: block;
    border-radius: 2px;
    border: 1px solid green;
    background-color: #70b231;
    width: 60px;
    padding: 3px;
    cursor: pointer;
    color: white;
    line-height: center;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
box-shadow: 0px 0px 6px gray;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active{
box-shadow: 0px 0px 8px gray inset;
text-shadow: 0px 0px 2px #ccc ;
}*/
