<!--Esta es la Vista de zapatillas-->
<div
  [ngStyle]="{
    height: '100%',
    width: '100%',
    margin: '0%',
    padding: '0%'
   
  }" >

 
  
  <!--<h2 [ngStyle]="{
                'padding-left': '3%',
                'font-family':'Arial, Helvetica, sans-serif',
                'color':'red',
                'text-decoration':'underline',
                'font-size':'25px'
                 }">{{titulo}}</h2>-->

  <!--Para agregar una marca-->
  <p>Añadir marca</p>
  <input
    class="input"
    type="text"
    [(ngModel)]="mi_marca"
    (keyup.enter)="mostrarPalabra()"
  />
  <button class="boton" (click)="getMarca()">mostrar marca</button>

  <p>{{ mi_marca }}</p>
  <br />
  <input
    class="input"
    type="text"
    [(ngModel)]="mi_marca2"
    (keyup.enter)="addMarca()"
  />
  <button class="boton" (click)="addMarca()">Añadir marca</button>

  <p>Las mejores Marcas de zapatillas</p>
  <ul id="lis">
    <li *ngFor="let marca of marcas; let indice = index">
      {{ indice + " - " + marca }}
      <button class="boton" (click)="borrarMarca(indice)">Borrar</button>
    </li>
  </ul>
  <ul>
    <!--Crearemos un for para recorre el modelo o clase zapatillas
    usando la directiva *ngfor y va quedar cargado como una lista
    xq lo usaremos en el li haciendo referencia a el array creado en 
    zapatillas.component.ts-->
    <!--deportiva es una varible para cada directiva del array zapatillas
    accediendo con el punto-->
    <li *ngFor="let deportivas of zapatillas">
      <span
        [ngStyle]="{
          'text-decoration': !deportivas.stock ? 'line-through' : 'none'
        }"
      >{{ deportivas.nombre }}
      - <strong [class.altoPrecio]="deportivas.precio >80 "
                [ngClass]="{'fondoamarillo': deportivas.precio >=100,
                            'subrallado':deportivas.marca == 'Zalomon'}">
        ${{ deportivas.precio }}
      </strong>
      <!--con [class.nombre] lo que hacemos es agregar un clase con un a
      directiva. Con el [ngClass] podemos agregar mas clases de css y darle diferentes
      directivas a cada clase-->
        {{ deportivas.marca }}</span
      >
      <!--Usamos la directiva ng para porner una oferta sobre
            el presio menor de 100-->
      <span
        *ngIf="deportivas.precio <= 80"
        [style.background]="deportivas.precio <= 80 ? 'red' : 'black'"
        [style.color]="deportivas.precio <= 80 ? '#eee' : 'transparent'"
        [class.altoPrecio]="deportivas.precio >=80 " 
      >
        ¡OFERTA!
      </span>
    </li>
    <!--Usamos las doble llaves para acceder a los atributos que deseamos
     mostrar en el browser. usamos la etiqueta strog para mostrar el precio-->
  </ul>
  <p>EL color de la mayoria de nuestras zapatillas es:</p>
  <input class="input" type="text" [(ngModel)]="color" />
  <ul id="color" [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
      El color predominante es
      <span [ngStyle]="{ background: color }">amarillo</span>
    </li>
    <li *ngSwitchCase="'red'">
      El color predominante es
      <span [ngStyle]="{ background: color }">rojo</span>
    </li>
    <li *ngSwitchCase="'blue'">
      El color predominante es
      <span [ngStyle]="{ background: color }">azul</span>
    </li>
    <li *ngSwitchCase="'orange'">
      El color predominante es
      <span [ngStyle]="{ background: color }">naraja</span>
    </li>
  </ul>
  <!--'text-decoration': !deportivas.stock ? 'line-through': 'none'-->
</div>
